<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClearFarm</title>
<!--    <style>-->
<!--        .todo {-->
<!--            padding: 20px;-->
<!--            margin: 10px;-->
<!--            background-color: #eee;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <h1>ClearFarm</h1>
    <hr>
    <div class="auth">
    <form method="post">
        <p>
            <b>User: </b>
            <input type="text" name="user" placeholder="User"></input>
        </p>
        <p>
            <b>Password: </b>
            <input type="password" name="pw" placeholder="Password"></input>
        </p>
        <button type="submit">Submit</button>

    </form>
    </div>
</body>
</html>

