<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClearFarm</title>
<!--    <style>-->
<!--        .todo {-->
<!--            padding: 20px;-->
<!--            margin: 10px;-->
<!--            background-color: #eee;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <h1>ClearFarm</h1>
    <hr>
    <!--
    <div class="getClass">
    <form method="get">
        <p>
            <b> Search in DB </b>
        </p>
        <p>
            <input type="text" name="search" placeholder="Search"></input>
        </p>
        <button type="submit">Search</button>
    </form>
    </div>
    -->
    <div class="postClass">
    <form method="post">
        <p>
            <b> Insert data in DB </b>
            <button type="submit" id="insert" value="insert">Click</button>
        </p>
    </form>
    </div>
</body>
</html>

