<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ClearFarm</title>
    <!--    <style>-->
    <!--        .todo {-->
    <!--            padding: 20px;-->
    <!--            margin: 10px;-->
    <!--            background-color: #eee;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
    <h1>ClearFarm</h1>
    <hr>
    <div class="postClass">
        <form method="post">

            <p>
                <b> Search Cow </b>
            </p>
            <button type="submit" name="searches" value="cow">COW</button>
            
            <p>
                <b> Search OTHER ¿? </b>
            </p>
            <button type="submit" name="searches" value="other">OTHER</button>
        </form>
    </div>
</body>

</html>
