<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ClearFarm</title>
    <!--    <style>-->
    <!--        .todo {-->
    <!--            padding: 20px;-->
    <!--            margin: 10px;-->
    <!--            background-color: #eee;-->
    <!--        }-->
    <!--    </style>-->
</head>

<body>
    <h1>ClearFarm</h1>
    <hr>
    <div class="postClass">
        <form method="post">

            <p>
                <b> Search Cow </b>
            </p>
            <p>
                <input type="file" name="csv_file">
                <!--onchange="handleFiles(this.files)">--->
            </p>
            <p>
                <input type="radio" id="connectTerra" name="collections" value="connectTerra" checked> <label>
                    ConnectTerra </label>
            </p>
            <p>
                <input type="radio" id="vet" name="collections" value="vet"> <label> Vet </input>
            </p>
            <p>
                <input type="radio" id="smaxTex" name="collections" value="smaxTex"> <label> SmaxTex </input>
            </p>
            <p>
                <input type="radio" id="covap" name="collections" value="covap"> <label> Covap </input>
            </p>
            <p>
                <input type="radio" id="herdItt" name="collections" value="herdItt"> <label> Herd-ITT </input>
            </p> 
            <p>
                <input type="radio" id="reference" name="collections" value="reference"> <label> REFERENCE </input>
            </p>

            <button type="submit">POST</button>
        </form>
    </div>
</body>

</html>
